::-webkit-scrollbar {
  width: 6px;
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #26ade4; }

::-webkit-scrollbar-track {
  background-color: #fff; }

body {
  scrollbar-face-color: #26ade4;
  scrollbar-track-color: #fff; }

.banner-section {
  height: 100vh;
  line-height: 0; }
  .banner-section .bg-img {
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    display: inline-block;
    line-height: 1.5; }
    .banner-section .bg-img:before {
      content: '';
      background: linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);
      opacity: .6;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .banner-section .bg-img .content {
      position: absolute;
      top: 50%;
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      left: 0;
      padding-left: 5%; }
  .banner-section .scroll-down {
    text-align: center;
    width: 2.125rem;
    height: 3.625rem;
    display: inline-block;
    border-radius: 1.25rem;
    border: 3px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-bottom: 2rem; }
    .banner-section .scroll-down span {
      height: .625rem;
      width: .25rem;
      background-color: #fff;
      display: inline-block;
      border-radius: 3px;
      -webkit-animation: fadebounce 3s infinite;
      -moz-animation: fadebounce 3s infinite;
      -o-animation: fadebounce 3s infinite;
      animation: fadebounce 3s infinite; }
  .banner-section .person-name {
    font-size: 5rem; }

.about .social-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #1ba0d6;
  transition: 0.2s linear all;
  color: #fff; }
  .about .social-icon:hover, .about .social-icon:focus, .about .social-icon:active {
    background-color: #21abe3; }
.about .icons {
  font-size: 2rem; }
.about .desc p {
  line-height: 1.7; }

.service .service-icon {
  font-size: 2.5rem; }
.service .contact-btn {
  height: .3125rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s all ease-in-out; }
  .service .contact-btn span {
    transition: 0.9s all ease-in-out;
    line-height: 6.25rem; }
.service .service-block {
  position: relative;
  overflow: hidden; }
  .service .service-block p {
    margin-bottom: 3.875rem;
    font-size: .875rem;
    max-width: 200px; }
  .service .service-block:hover .contact-btn {
    height: 2.5rem; }
    .service .service-block:hover .contact-btn span {
      line-height: 2.5rem; }

.resume .resume-icon {
  font-size: 2rem; }

.skill .skill-content {
  border-left: 3px solid #26ade4;
  font-size: .875rem; }
.skill .progress-bar {
  background-color: #e9ecef; }
  .skill .progress-bar .bar {
    position: relative;
    transition: 0.2s linear all;
    -webkit-animation: skillbar 3s linear forwards;
    -moz-animation: skillbar 3s linear forwards;
    -o-animation: skillbar 3s linear forwards;
    animation: skillbar 3s linear forwards; }
    .skill .progress-bar .bar span {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -1.875rem;
      -webkit-animation: barvalue 1s linear forwards;
      -moz-animation: barvalue 1s linear forwards;
      -o-animation: barvalue 1s linear forwards;
      animation: barvalue 1s linear forwards;
      animation-delay: 3s;
      opacity: 0; }
.skill .skill-chart {
  border-top: 1px solid #6c757d; }
  .skill .skill-chart .expand p {
    font-size: .875rem; }
  .skill .skill-chart .expand:before {
    display: block;
    position: relative;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #6c757d;
    margin: auto; }
  .skill .skill-chart .expand.expand-left:before {
    margin-left: 0; }
  .skill .skill-chart .expand.expand-right:before {
    margin-right: 0; }
.skill .circular-progress-bar {
  position: relative;
  display: inline-block; }
  .skill .circular-progress-bar:after {
    position: absolute;
    font-weight: 600;
    text-align: center;
    color: #adb5bd;
    font-size: 1.5rem;
    width: 100%;
    left: 0;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: attr(data-percent) "%";
    top: 50%; }
  .skill .circular-progress-bar .circle {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .skill .circular-progress-bar .circle .progress-meter,
    .skill .circular-progress-bar .circle .progress-value {
      fill: none; }
    .skill .circular-progress-bar .circle .progress-meter {
      stroke: #e9ecef; }
    .skill .circular-progress-bar .circle .progress-value {
      stroke: #26ade4;
      stroke-linecap: round;
      transition: 0.3s all linear;
      -webkit-animation: lefttoright 3s linear forwards;
      -moz-animation: lefttoright 3s linear forwards;
      -o-animation: lefttoright 3s linear forwards;
      animation: lefttoright 3s linear forwards; }

.portfolio .button {
  color: #495057;
  font-size: 1.2rem;
  font-weight: 600; }
  .portfolio .button.is-checked {
    color: #26ade4; }
  .portfolio .button:hover, .portfolio .button:focus, .portfolio .button:active {
    text-decoration: none;
    box-shadow: none !important; }
.portfolio .portfolio-item .item {
  -webkit-perspective: 1700px;
  -moz-perspective: 1700px;
  perspective: 1700px;
  -webkit-perspective-origin: 0 50%;
  -moz-perspective-origin: 0 50%;
  perspective-origin: 0 50%; }
.portfolio .portfolio-item .item-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #495057;
  color: #26ade4;
  height: 100%;
  width: 50%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  transition: transform 0.4s, opacity 0.1s 0.3s; }
  .portfolio .portfolio-item .item-info a {
    font-size: 1rem; }
  .portfolio .portfolio-item .item-info span {
    color: #26ade4;
    font-size: .875rem;
    text-transform: capitalize; }
  .portfolio .portfolio-item .item-info .item-link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1.25rem 1.25rem 0; }
.portfolio .portfolio-item .item-hover {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .portfolio .portfolio-item .item-hover .item-inner {
    overflow: hidden; }
  .portfolio .portfolio-item .item-hover img {
    transition: transform 0.4s; }
  .portfolio .portfolio-item .item-hover:hover img {
    -moz-transform: translateX(25%);
    -o-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -webkit-transform: translateX(25%);
    transform: translateX(25%); }
  .portfolio .portfolio-item .item-hover:hover .item-info {
    opacity: 1;
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transition: transform 0.4s, opacity 0.1s; }
.portfolio .portfolio-item .small-icon {
  background-color: #26ade4; }
  .portfolio .portfolio-item .small-icon span {
    color: #fff; }
  .portfolio .portfolio-item .small-icon:hover, .portfolio .portfolio-item .small-icon:focus, .portfolio .portfolio-item .small-icon:active {
    background-color: #fff; }
    .portfolio .portfolio-item .small-icon:hover span, .portfolio .portfolio-item .small-icon:focus span, .portfolio .portfolio-item .small-icon:active span {
      color: #26ade4; }

.blog .blog-block {
  line-height: 0; }
.blog .blog-bg-img {
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  display: inline-block;
  padding-bottom: 85%;
  line-height: 1.5; }
.blog .date-box {
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 0 1rem;
  position: absolute;
  left: 0;
  top: 0; }
.blog .blog-info {
  margin: -1.5625rem .625rem;
  position: relative;
  line-height: 1.5; }
.blog .blog-content .title {
  font-size: 1.5rem;
  color: #495057;
  transition: 0.3s all linear; }
  .blog .blog-content .title:hover {
    color: #26ade4; }
.blog .blog-content .desc {
  font-size: .875rem; }
.blog .blog-content .social-icon {
  color: #adb5bd;
  transition: 0.3s all linear; }
  .blog .blog-content .social-icon:hover, .blog .blog-content .social-icon:focus, .blog .blog-content .social-icon:active {
    color: #26ade4;
    text-decoration: none; }

.testimonials .testimonials-content {
  position: relative;
  background-color: #eff1f4; }
  .testimonials .testimonials-content:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin-left: 2.5rem;
    margin-bottom: -1.25rem;
    border-style: solid;
    border-width: 1.25rem 1.25rem 0 0;
    border-color: #eff1f4 transparent transparent transparent; }
  .testimonials .testimonials-content .testimonials-avtar img {
    width: 4.0625rem; }
  .testimonials .testimonials-content .comment {
    font-size: .9rem; }

.contact .contact-info {
  position: relative; }
  .contact .contact-info .contact-details {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(52, 58, 64, 0.8);
    width: 20rem;
    height: 100%;
    z-index: 3; }
.contact #map-canvas {
  width: 100%;
  height: 730px; }
.contact .address .icon {
  font-size: 1.25rem; }
.contact .address .email, .contact .address .ph-no {
  color: #fff;
  transition: 0.3s all linear; }
  .contact .address .email:hover, .contact .address .ph-no:hover {
    color: #26ade4; }
.contact .info-text {
  font-size: .875rem; }
.contact .social .social-icon {
  transition: 0.2s linear all;
  color: #fff; }
  .contact .social .social-icon:hover, .contact .social .social-icon:focus, .contact .social .social-icon:active {
    color: #26ade4; }

@-webkit-keyframes fadebounce {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -moz-transform: translateY(1.5625rem);
    -o-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    -webkit-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes fadebounce {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -moz-transform: translateY(1.5625rem);
    -o-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    -webkit-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-o-keyframes fadebounce {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -moz-transform: translateY(1.5625rem);
    -o-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    -webkit-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes fadebounce {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -moz-transform: translateY(1.5625rem);
    -o-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    -webkit-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes lefttoright {
  0% {
    stroke-dashoffset: 446.106; } }
@-moz-keyframes lefttoright {
  0% {
    stroke-dashoffset: 446.106; } }
@-o-keyframes lefttoright {
  0% {
    stroke-dashoffset: 446.106; } }
@keyframes lefttoright {
  0% {
    stroke-dashoffset: 446.106; } }
@-webkit-keyframes skillbar {
  0% {
    width: 0%; } }
@-moz-keyframes skillbar {
  0% {
    width: 0%; } }
@-o-keyframes skillbar {
  0% {
    width: 0%; } }
@keyframes skillbar {
  0% {
    width: 0%; } }
@-webkit-keyframes barvalue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes barvalue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes barvalue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes barvalue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 767.98px) {
  .banner-section {
    padding-top: 3rem; }
    .banner-section .person-name {
      font-size: 2.5rem; }
    .banner-section .banner-title,
    .banner-section .typing-text {
      font-size: 1.5rem; } }

/*# sourceMappingURL=main.css.map */
