.site-footer {
    background-color: rgba($banner-bg,.3);
    //color: $banner-bg;
    @include linear-gradient-b(45deg, #eef9fe, #edf7ff 50%);
    .footer-title,a {
    	color: $color-gray-700;
    }
    .footer-title {
    	font-size: 1rem;
    	text-transform: uppercase;
    }
    .footer-link,
    .copy-right-text {
    	font-size: .875rem;
    }
    .footer-logo {
    	max-width: 100px;
    }
    .footer-container {
    	align-items: center;
    }
}