$banner-bg: #ff5c00;
$banner-gradient1: #ff7300;
$banner-gradient2: #7b2103;
.site-header {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 2;

    .header-bar {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        max-width: 250px;
        a {
            display: inline-block;
        }
        img {
            max-width: 100%;
        }
    }
    .login-btn {
        color: $color-white;
    }

    .signup-btn {
        background-color: $color-white;
        color: $brand-color;
        border-color: $color-white;

        &:hover,
        &:focus,
        &:active {
            opacity: 1;
        }
    }
}
@include breakpoint-max($bp-medium) {
    .site-header {
    	.login-btn,
    	.signup-btn {
    		font-size: 14px;
    		padding: 0 10px;
    	}
    	.login-btn {
    		color: $brand-color;
    	}
    }
}