::-webkit-scrollbar {
  width: 6px;
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #26ade4; }

::-webkit-scrollbar-track {
  background-color: #fff; }

body {
  scrollbar-face-color: #26ade4;
  scrollbar-track-color: #fff; }

.slider-img,
.blog-bg {
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  display: inline-block; }

.blog-bg {
  line-height: 0;
  height: 400px; }
  .blog-bg.gradient:before {
    background: rgba(0, 0, 0, 0.8);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131b51), color-stop(100%, #e8d4e6));
    background: -webkit-linear-gradient(-315deg, #131b51 0%, #e8d4e6 100%);
    background: -webkit-linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);
    background: linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);
    opacity: .6;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }
  .blog-bg .blog-content {
    line-height: 1.5;
    position: relative; }
    .blog-bg .blog-content .custom-breadcrumb,
    .blog-bg .blog-content .btn-home {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.2); }
    .blog-bg .blog-content .custom-breadcrumb li:before {
      color: #fff; }
    .blog-bg .blog-content .top-bar {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .blog-bg .blog-meta a {
    color: #fff;
    transition: 0.3s all linear; }
    .blog-bg .blog-meta a:hover, .blog-bg .blog-meta a:focus, .blog-bg .blog-meta a:active {
      color: #26ade4; }

.blog .blog-block {
  line-height: 0; }
.blog .blog-bg-img {
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  display: inline-block;
  padding-bottom: 85%;
  line-height: 1.5; }
.blog .date-box {
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 0 1rem;
  position: absolute;
  left: 0;
  top: 0; }
.blog .blog-info {
  margin: -1.5625rem .625rem;
  position: relative;
  line-height: 1.5; }
.blog .blog-content .title {
  font-size: 1.5rem;
  color: #495057;
  transition: 0.3s all linear; }
  .blog .blog-content .title:hover {
    color: #26ade4; }
.blog .blog-content .desc {
  font-size: .875rem; }
.blog .blog-content .social-icon {
  color: #adb5bd;
  transition: 0.3s all linear; }
  .blog .blog-content .social-icon:hover, .blog .blog-content .social-icon:focus, .blog .blog-content .social-icon:active {
    color: #26ade4;
    text-decoration: none; }

.blog-desc .slider-img {
  padding-bottom: 30%;
  min-height: 200px;
  height: auto; }
.blog-desc .blockquote-style {
  border-width: 5px !important; }
.blog-desc p {
  font-size: .875rem; }

.blog-comments .comments-photo {
  width: 7.625rem;
  padding-right: 2rem; }
  .blog-comments .comments-photo img {
    border: 3px solid #e9ecef; }

.reply-form input,
.reply-form textarea {
  font-size: .875rem; }
.reply-form textarea {
  resize: none; }

.sidebar .author-avtar {
  width: 10rem; }
.sidebar p {
  font-size: .875rem; }
.sidebar .social-icon {
  color: #adb5bd;
  transition: 0.3s all linear; }
  .sidebar .social-icon:hover, .sidebar .social-icon:focus, .sidebar .social-icon:active {
    color: #26ade4; }
.sidebar .cat-link a {
  border-bottom: 1px solid #dee2e6;
  color: #adb5bd;
  transition: 0.3s all linear;
  font-size: .875rem; }
.sidebar .cat-link:hover a, .sidebar .cat-link:focus a, .sidebar .cat-link:active a {
  border-color: #26ade4;
  color: #26ade4; }
.sidebar .post {
  border-bottom: 1px solid #dee2e6; }
  .sidebar .post a,
  .sidebar .post p {
    font-size: .875rem;
    color: #adb5bd; }
  .sidebar .post a {
    transition: 0.3s all linear; }
    .sidebar .post a:hover, .sidebar .post a:focus, .sidebar .post a:active {
      color: #26ade4; }
.sidebar .btn-tag {
  border-color: #e9ecef;
  color: #adb5bd; }
  .sidebar .btn-tag:hover, .sidebar .btn-tag:focus, .sidebar .btn-tag:active {
    color: #fff; }

@media (max-width: 991.98px) {
  .blog-bg {
    margin-top: 3rem; } }

/*# sourceMappingURL=blog.css.map */
