@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.banner-section {
    height: 100vh;
    line-height: 0;
    .bg-img {
        @include img-inbg;
        line-height: 1.5;
        &:before {
            content: '';
            background: linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);
            opacity: .6;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .content {
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            left: 0;
            padding-left: 5%;
        }
    }
    .scroll-down {
        text-align: center;
        width: 2.125rem;
        height: 3.625rem;
        display: inline-block;
        border-radius: 1.25rem;
        border: 3px solid $white;
        position: absolute;
        left: 50%;
        bottom: 0;
        @include transform(translate(-50%, 0));
        margin-bottom: 2rem;
        span {
            height: .625rem;
            width: .25rem;
            background-color: $white;
            display: inline-block;
            border-radius: 3px;
            @include animation (fadebounce 3s infinite);
        }
    }
}

#about {
    .social-icon {
        @include size(2.5rem);
        border-radius: 50%;
        background-color: darken($green, 5%);
        @include transition(.2s linear all);
        color: $white;
        @include hover-focus-active {
            background-color: darken($green, 1%);
        }
    }
    .icons {
        font-size: 2rem;
    }
    .desc {
        p {
            line-height: 1.7;
        }
    }
}

#service {
    .service-icon {
        font-size: 2.5rem;
    }
    .contact-btn {
        height: .3125rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include transition(.3s all ease-in-out);
        span {
            @include transition(.9s all ease-in-out);
            line-height: 6.25rem;
        }
    }
    .service-block {
        position: relative;
        overflow: hidden;
        p {
            margin-bottom: 3.875rem;
            font-size: .875rem;
        }
        &:hover {
            .contact-btn {
                height: 2.5rem;
                span {
                    line-height: 2.5rem;
                }
            }
        }
    }
}

#resume {
    .resume-icon {
        font-size: 2rem;
    }
}

#skill {
    .skill-content {
        border-left: 3px solid $green;
        font-size: .875rem;
    }
    .progress-bar {
        background-color: $gray-200;
        .bar {
            position: relative;
            @include transition(.2s linear all);
            span {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-bottom: -1.875rem;
            }
        }
    }
    .skill-chart {
        border-top: 1px solid $gray-600;
        .expand {
            p {
                font-size: .875rem;
            }
            &:before {
                display: block;
                position: relative;
                content: "";
                width: 1px;
                height: 10px;
                background-color: $gray-600;
                margin: auto;
            }
            &.expand-left {
                &:before {
                    margin-left: 0;
                }
            }
             &.expand-right {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

@include keyframes(fadebounce) {
    0% {
        @include transform(translateY(0));
        opacity: 1;
    }
    50% {
        @include transform(translateY(1.5625rem));
        opacity: 1;
    }
    100% {
        @include transform(translateY(0));
        opacity: 1;
    }
}


@include media-breakpoint-down(sm) {
    .banner-section {
        padding-top: 3rem;
    }
}


///
.wrapper {
  width: 100px; /* Set the size of the progress bar */
  height: 100px;
  position: absolute; /* Enable clipping */
  clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */
.circle {
  width: 80px;
  height: 80px;
  border: 10px solid green;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);
}


div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;  /* Only run once */
  -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
  -webkit-animation-timing-function:linear; /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
  -webkit-animation-delay: 3s; /* Wait half of the animation */
  -webkit-animation-name: close-wrapper; /* Keyframes name */
}

.circle[data-anim~=left] {
  -webkit-animation-duration: 6s; /* Full animation time */
  -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
  -webkit-animation-duration: 3s; /* Half animation time */
  -webkit-animation-name: right-spin;
}



@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}