.banner-section {
  height: 100vh;
  line-height: 0; }
  .banner-section .bg-img {
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    display: inline-block;
    line-height: 1.5; }
    .banner-section .bg-img:before {
      content: '';
      background: linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);
      opacity: .6;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .banner-section .bg-img .content {
      position: absolute;
      top: 50%;
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      left: 0;
      padding-left: 5%; }
  .banner-section .scroll-down {
    text-align: center;
    width: 2.125rem;
    height: 3.625rem;
    display: inline-block;
    border-radius: 1.25rem;
    border: 3px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-bottom: 2rem; }
    .banner-section .scroll-down span {
      height: .625rem;
      width: .25rem;
      background-color: #fff;
      display: inline-block;
      border-radius: 3px;
      -webkit-animation: fadebounce 3s infinite;
      -moz-animation: fadebounce 3s infinite;
      -o-animation: fadebounce 3s infinite;
      animation: fadebounce 3s infinite; }

#about .social-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #06b26a;
  transition: 0.2s linear all;
  color: #fff; }
  #about .social-icon:hover, #about .social-icon:focus, #about .social-icon:active {
    background-color: #07c676; }
#about .icons {
  font-size: 2rem; }
#about .desc p {
  line-height: 1.7; }

#service .service-icon {
  font-size: 2.5rem; }
#service .contact-btn {
  height: .3125rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s all ease-in-out; }
  #service .contact-btn span {
    transition: 0.9s all ease-in-out;
    line-height: 6.25rem; }
#service .service-block {
  position: relative;
  overflow: hidden; }
  #service .service-block p {
    margin-bottom: 3.875rem;
    font-size: .875rem; }
  #service .service-block:hover .contact-btn {
    height: 2.5rem; }
    #service .service-block:hover .contact-btn span {
      line-height: 2.5rem; }

#resume .resume-icon {
  font-size: 2rem; }

#skill .skill-content {
  border-left: 3px solid #07cb79;
  font-size: .875rem; }
#skill .progress-bar {
  background-color: #e9ecef; }
  #skill .progress-bar .bar {
    position: relative;
    transition: 0.2s linear all; }
    #skill .progress-bar .bar span {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -1.875rem; }
#skill .skill-chart {
  border-top: 1px solid #6c757d; }
  #skill .skill-chart .expand p {
    font-size: .875rem; }
  #skill .skill-chart .expand:before {
    display: block;
    position: relative;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #6c757d;
    margin: auto; }
  #skill .skill-chart .expand.expand-left:before {
    margin-left: 0; }
  #skill .skill-chart .expand.expand-right:before {
    margin-right: 0; }

@-webkit-keyframes fadebounce {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -moz-transform: translateY(1.5625rem);
    -o-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    -webkit-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes fadebounce {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -moz-transform: translateY(1.5625rem);
    -o-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    -webkit-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-o-keyframes fadebounce {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -moz-transform: translateY(1.5625rem);
    -o-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    -webkit-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes fadebounce {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -moz-transform: translateY(1.5625rem);
    -o-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    -webkit-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@media (max-width: 767.98px) {
  .banner-section {
    padding-top: 3rem; } }
.wrapper {
  width: 100px;
  /* Set the size of the progress bar */
  height: 100px;
  position: absolute;
  /* Enable clipping */
  clip: rect(0px, 100px, 100px, 50px);
  /* Hide half of the progress bar */ }

/* Set the sizes of the elements that make up the progress bar */
.circle {
  width: 80px;
  height: 80px;
  border: 10px solid green;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px); }

div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;
  /* Only run once */
  -webkit-animation-fill-mode: forwards;
  /* Hold the last keyframe */
  -webkit-animation-timing-function: linear;
  /* Linear animation */ }

.wrapper[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s;
  /* Complete keyframes asap */
  -webkit-animation-delay: 3s;
  /* Wait half of the animation */
  -webkit-animation-name: close-wrapper;
  /* Keyframes name */ }

.circle[data-anim~=left] {
  -webkit-animation-duration: 6s;
  /* Full animation time */
  -webkit-animation-name: left-spin; }

.circle[data-anim~=right] {
  -webkit-animation-duration: 3s;
  /* Half animation time */
  -webkit-animation-name: right-spin; }

@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg); } }
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto); } }

/*# sourceMappingURL=home.css.map */
