@import "../../../../css/scss/functions";
@import "../../../../css/scss/variables";
@import "../../../../css/scss/mixins";
$width: 15px;
$height: 15px;

$bounce_height: 30px;

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: $headings-font-family;
    z-index: 99;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    opacity: 1;
    z-index: 100;
    .text {
        color: $white;
        display: inline-block;
        margin-left: 5px;
    }
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: $width;
    &:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: $width;
        height: $height;
        border-radius: 50%;
        background-color: $white;
        transform-origin: 50%;
        @include animation(bounce .5s alternate infinite ease);
    }
}

.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: theme-color("primary");
    z-index: 99;
    @include transform(translateX(0));
    &.left-section {
        left: 0;
        @include animation(slide-left 3s forwards);
        animation-delay: 6s;
    }
    &.right-section {
        right: 0;
        @include animation(slide-right 3s forwards);
        animation-delay: 6s;
    }
}

@include keyframes(bounce) {
    0% {
        top: $bounce_height;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        @include transform(scaleX(2));
    }
    35% {
        height: $height;
        border-radius: 50%;
        @include transform(scaleX(1));
    }
    100% {
        top: 0;
    }
}
@include keyframes(slide-left) {
    0% {
        @include transform(translateX(0));
    }
    100% {
        @include transform(translateX(-100%));
    }
}
@include keyframes(slide-right) {
    0% {
        @include transform(translateX(0));
    }
    100% {
        @include transform(translateX(100%));
    }
}
